* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100vh;
    width: auto;
    background-color: black;
}
h1 {
    text-align:left;
    color: white;
    text-transform: uppercase;
    padding: .5em 0 .5em 5.5%; 
}
form {
    padding: 0 0 1em 5.5%;
}
form input {
    background: #000000;
    border: 1px solid #FFFFFF;
    padding: .5em;
    color: white;
}


h2 {
    color: rgb(78, 49, 205);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}
section article {
    width: 15em;
    height: 25em;
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
}
section a {
    text-decoration: none;
}
section a h2, section a h3, section a p  {
    color: white;
}

article {
    position: relative;
}
.text {
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 0%;
    background-color: #c1c1c175;
}
section article img {
    
    flex-grow: 2;
    width: 15em;
    height: 13em;
    object-fit: cover;
}

.loadingstate {
    border-radius: 5px;
    background-size: 200% 100%;
}

.loadingstate h2,
.loadingstate h3,
.loadingstate p
 {
    height: 2em;
    width: 10em;
    background: #dcdcdc;
    background: linear-gradient(110deg, #c1c1c1 8%, #dbdbdb 18%, #c0c0c0 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}


/* class toevoegen die dit weghaald, skeleton als standaard gebruiken. */
.loadingstate div{
    height: 21em;
    width: 20em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;

    background: #eee;
    background: linear-gradient(110deg, #c1c1c1 8%, #dbdbdb 18%, #c0c0c0 33%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

/* detailpagina */
#article-screen {
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#article-screen article img {
    object-fit: cover;
    width: 20em;
    height: 25em;
}
#article-screen article {
    position: relative;
    width: 20em;
    height: 25em;
    
}
#article-screen button {
    /* haalt alle styling hiervoor weg */
    all: unset;
    position: absolute;
    top: 22%;
    right: 25%;
    
    cursor: pointer;     
}
#article-screen button img {
    width: 25px;
    height: 25px;
}

#article-screen h2, 
#article-screen h3,
#article-screen p {
    color: white;
    text-align: left;
    width: 85%; 
}

#article-screen img {
    width: 20em;
}

@keyframes shine {
    to {
      background-position-x: -200%;
    }
  }